* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito";
}

body {
  background: linear-gradient(to right, #000046, #1cb5e0);
}

body h1 {
  font-weight: bold;
  font-size: 50px;
  margin: 40px 0;
  text-align: center;
  color: #fff;
}

body .cards {
  display: flex;
  flex-wrap: wrap;
}

body .cards .card {
  background: linear-gradient(to right, #f12711, #f5af19);
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  flex-basis: 48%;
  margin: 20px 1%;
  padding: 20px;
  border-radius: 10px;
}

